firebase_admin>=6.2.0,<6.6.0
google_auth_oauthlib>=0.5.1,<2.0.0
libcst==1.1.0
numpy>=1.22.3,<1.25.0
numpy_financial==1.0.0
pandas>=1.4.2,<3.0.0
pandas_datareader==0.10.0
peewee>=3.17.0,<4.0.0
plotly>=5.15.0,<6.0.0
protobuf==4.21.6
pyfinviz>=0.17,<2.0.0
python-dotenv==1.0.1
Requests==2.32.3
stocknews==0.9.11
streamlit>=1.26.0,<1.39.0
streamlit_option_menu==0.3.13
typing-extensions<4.6.0,>=3.6.6
yfinance>=0.2.31,<0.3.0

